/.vscode/
/.cache/
/.venv/
/cmake-build-*/
/build-*/
/.idea/
/output/
/build/
build_cmake/
/script/git_last_commit.txt
/.clangd
package/*
/.worktrees/
compile_commands.json
__pycache__

*.so
*.whl
*.egg-info
.DS_Store
.clion.source.upload.marker
